#skills{
    overflow: hidden;
    width: 100vw;
    max-width: 90rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.skillTitle{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}

.skillDesc{
    font-weight: 350;
    font-size: 1.75rem;
    max-width: 500;
    padding: 0 2rem;
}

.skillBars{
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}
.skillbar{
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: rgb(115, 147, 179);
    cursor: pointer;
}

.skillBarImg{
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;
}

.skillBartext{
    font-size: 0.9rem;
    font-weight: 200;
}

@media screen and (max-width:720px){
    .skillbarText>p {
        font-size: 2vw;
    }
}
@media screen and (max-width:480px){
    .skillbarText>p {
        font-size: 3vw;
    }
    .skillBarImg{
        height: 2.25rem;
        width:2.25rem;
    }
    .skillBartext>h2{
        font-size: 5vw;
    }
}